/*
Author: Tia Petts
Date: 10/22/2019
*/

main img {
  border: 6px solid #FFF;
  box-shadow: inset 8px 8px 10px #888888, 1px 1px 10px 2px #888888;
}

aside h3 {
  text-align: center;
}

aside {
  background-color: #ffcce6;
  padding: 1em 2em;
  border: 3px solid #800040;
  border-radius: 20px;
}
