/*
Author: Tia Petts
Date: 10/22/2019
*/

main h2 {
  background-image: url("/docs/images/beansBanner.jpg");
  background-size: cover;
  padding: .8em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px solid #2E1B11;
  text-shadow: 3px 3px gray;
  color: #800040;
}

li {
  line-height: 2em;
}
