/*
Author: Tia Petts
Date: 10/22/2019
*/

main h2 {
  background-image: url("/docs/images/beansBanner.jpg");
  background-size: cover;
  padding: .8em;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px solid #2E1B11;
  text-shadow: 3px 3px gray;
  color: #800040;
}

li {
  line-height: 2em;
}

/*Table Styles*/
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  border: 3px solid #FFF;
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  background-color: #f7e8de;
}

th {
  background-color: #4d0000;
  color: #FFF;
  padding: 1em;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
}

.size {
  width: 10%;
}