/*
Author: Tia Petts
Date: 10/22/2019
*/

dt {
  font-weight: bold;
  color: #8B705F;
}

dd {
  margin-bottom: 1em;
}

.price {
  font-style: italic;
  font-weight: normal;
}

dd em {
  color: #8B705F;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

main section {
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  box-shadow: inset 8px 8px 10px #888888, 1px 1px 10px 2px #888888;
}
